@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&display=swap');

*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body {
    background: rgb(147, 20, 102);
    background: linear-gradient(356deg, rgba(147, 20, 102, 1) 12%, rgba(80, 18, 120, 1) 32%, rgba(44, 11, 111, 1) 40%, rgba(18, 5, 84, 1) 58%, rgba(76, 4, 66, 1) 100%);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.nav {
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;*/
    /* background-color: rgba(0, 0, 0, 0.477); */
}

.logo {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 60px;
    margin:10px;
}

.logo p{
    font-size: 25px;
}

.nav>.nav-btn {
    display: none;
}

.nav-links {
    /* width: 50%; */
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 20px 25px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.505);
    color: white;

    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-links a:hover {
    box-shadow: inset 150px 0 0 0 rgba(255, 255, 255, 0.562);
    color: black;
}

.nav>#nav-check {
    display: none;
}

.container {
    width: 30%;
    padding: 10px 20px;
    /* margin: 50px auto; */
}

.searchbox {
    position: relative;
    
    min-width: 50px;
    width: 0%;
    height: 40px;
    float: right;
    overflow: hidden;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input {
    /* top: 0;
    right: 0; */
    border: 0;
    outline: 0;
    /* background: #dcddd86d; */
    background: none;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0px 55px 0px 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.searchbox-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.361);
}

.searchbox-input:-moz-placeholder {
    color: rgb(255, 255, 255);
}

.searchbox-input::-moz-placeholder {
    color: #ffffff;
}

.searchbox-input:-ms-input-placeholder {
    color: #ffffff;
}

.searchbox-icon,
.searchbox-submit {
    width: 50px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 19px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: none;
    color: white;
    /* background: #dcddd86d; */
}

.searchbox-open {
    width: 100%;
    background: #dcddd86d;
    border-radius: 20px;
}

.byline {
    position: absolute;
    top: 150px;
    left: 30%;
    text-align: center;
    font-size: 18px;
}

.byline a {
    text-decoration: none;
    color: #d74b4b;
}

.wrapper {
    height: 55vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 90%);
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.trending {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    margin-right: 10%;
    padding-left: 20px;
}

.t1,
.t2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* justify-content: space-evenly; */
    align-items: center;
}


.trimg {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: 1%;

}

.st {
    margin-bottom: 10px;
    font-family: 'Arimo', sans-serif;
}

.sd,
.sm {
    padding-left: 50px;
}

.sa,.sd,.sm{
    font-family: 'Arimo', sans-serif;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 30%;
}

.somebox {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.conbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.head {
    font-size: 20px;
    margin-bottom: 40px;
    font-family: 'Chivo Mono', monospace;
}

.songname {
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}
.singer .plays {
    font-family: 'Arimo', sans-serif;
}

.midbox {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
}

.midbox p {
    padding-right: 20px;
}

.midbox .singer {
    font-size: 25px;
}

.imgbox{
    text-align: right;
    width: 33%;
}

.imgbox img {
    width: 100%;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
    outline: none;
    align-items: center;
}

.b1,.b2,.b3 {
    cursor: pointer;
}

.b1 {
    height: 50px;
    background: #4FC7C7;
    outline: none;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
}

.b2 {
    height: 50px;
    background: none;
    padding: 15px 35px;
    border-radius: 30px;
    border: 2px solid #4FC7C7;
}
 
.b3 {
    background: none;
    outline: none;
    border: none;
    width: 30px;
    margin-right: 20px;
}

.b3 img {
    width: 100%;
}

.artistsbox{
    margin: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.0525) 100%);
    border-radius: 20px;
    padding: 25px;
    width: 60%;
}

.artists,.genres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.a1,
.a2,
.a3,
.a4 {
    width: 120px;
    height: 120px;
    /* padding: 20px; */
    margin-top: 20px;
    align-content: center;
}

.a1 img,
.a2 img,
.a3 img,
.a4 img {
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.artists p {
    font-family: 'Arimo';
    font-style: normal;
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 5px;
}

.artists img {
    border-radius: 10px;
}

.genres {
    margin-top: 20px;
}

.g1,.g2,.g3,.g4 {
    width: 150px;
    height: 90px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.g1 {
    background: rgba(250, 146, 196, 0.6);
}

.g2 {
    background: rgba(250, 146, 146, 0.6);
}

.g3 {
    background: rgba(146, 250, 187, 0.6);
}

.g4 {
    background: rgba(146, 218, 250, 0.6);
}


.subtitle,
.subtitle2 {
    font-style: normal;
    font-size: 24px;
    font-family: 'Chivo Mono', monospace;
}

.genrebox {
    margin: 20px 10px;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.0525) 100%); */
    border-radius: 20px;
    padding: 25px;
    width: 60%;
}


.subdivtitle {
    font-family: 'Oldenburg';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-left: 10px;
    width: 50px;;
    color: #FFFFFF;
}

.subdivimg{
    position: absolute;
    width: 50%;
    /* width: 214px;
    height: 234px; */
    right: 0;
    top: 10%;
}



/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
    .container,
        .searchbox {
            width: 0;
            display: none;
            visibility: hidden;
        }
    
        .nav {
            background-color: rgba(0, 0, 0, 0.477);
        }
    
        .nav>.nav-btn {
            display: inline;
            float: right;
        }
    
        .nav-btn>label {
            display: inline-block;
            padding: 15px;
        }
    
        .nav>.nav-btn>label:hover,
        .nav #nav-check:checked~.nav-btn>label {
            background-color: rgba(0, 0, 0, 0.3);
        }
    
        .nav>.nav-btn>label>span {
            display: block;
            width: 30px;
            height: 10px;
            border-top: 2px solid #eee;
        }
    
        .nav>.nav-links {
            position: absolute;
            z-index: 1;
            display: block;
            width: 100%;
            background-color: rgba(37, 37, 37, 0.845);
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 75px;
            left: 0px;
        }
    
        .nav-links a {
            display: block;
            padding: 25px;
        }
    
        .nav>#nav-check:not(:checked)~.nav-links {
            height: 0px;
        }
    
        .nav>#nav-check:checked~.nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    
        .wrapper {
            margin-top: 20px;
            flex-direction: column-reverse;
            height: max-content;
            align-items: flex-start;
    
        }
    
        .trending {
            width: 90%;
            margin: auto;
        }
        .box {
            display: none;
        }
}

/* music player css */

@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*:focus {
    outline: none;
}


#app-cover {
    position: fixed;
    top: 80%;
    right: 20px;
    /* left: 60%; */
    width: 430px;
    height: 100px;
    margin: -4px auto;
}

#player {
    position: relative;
    height: 100%;
    z-index: 3;
}

#player-track {
    position: absolute;
    top: 0;
    right: 15px;
    left: 15px;
    padding: 13px 22px 10px 184px;
    background-color: #fff7f7;
    border-radius: 15px 15px 0 0;
    transition: 0.3s ease top;
    z-index: 1;
}

#player-track.active {
    top: -92px;
}

#album-name {
    color: #54576f;
    font-size: 17px;
    font-weight: bold;
}

#track-name {
    color: #acaebd;
    font-size: 13px;
    margin: 2px 0 13px 0;
}

#track-time {
    height: 12px;
    margin-bottom: 3px;
    overflow: hidden;
}

#current-time {
    float: left;
}

#track-length {
    float: right;
}

#current-time,
#track-length {
    color: transparent;
    font-size: 11px;
    background-color: #ffe8ee;
    border-radius: 10px;
    transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
    color: #f86d92;
    background-color: transparent;
}

#s-area,
#seek-bar {
    position: relative;
    height: 4px;
    border-radius: 4px;
}

#s-area {
    background-color: #ffe8ee;
    cursor: pointer;
}

#ins-time {
    position: absolute;
    top: -29px;
    color: #fff;
    font-size: 12px;
    white-space: pre;
    padding: 5px 6px;
    border-radius: 4px;
    display: none;
}

#s-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
    z-index: 2;
}

#ins-time,
#s-hover {
    background-color: #3b3d50;
}

#seek-bar {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #fd6d94;
    transition: 0.2s ease width;
    z-index: 1;
}

#player-content {
    position: relative;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 30px 80px #656565;
    border-radius: 15px;
    z-index: 2;
}

#album-art {
    position: absolute;
    top: -40px;
    width: 115px;
    height: 115px;
    margin-left: 40px;
    transform: rotateZ(0);
    transition: 0.3s ease all;
    box-shadow: 0 0 0 10px #fff;
    border-radius: 50%;
    overflow: hidden;
}

#album-art.active {
    top: -60px;
    box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: -10px auto 0 auto;
    background-color: #d6dee7;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px #fff;
    z-index: 2;
}

#album-art img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

#album-art img.active {
    opacity: 1;
    z-index: 1;
}

#album-art.active img.active {
    z-index: 1;
    animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@keyframes rotateAlbumArt {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

#buffer-box {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 13px;
    color: #1f1f1f;
    font-size: 13px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    padding: 6px;
    margin: -12px auto 0 auto;
    background-color: rgba(255, 255, 255, 0.19);
    opacity: 0;
    z-index: 2;
}

#album-art img,
#buffer-box {
    transition: 0.1s linear all;
}

#album-art.buffering img {
    opacity: 0.25;
}

#album-art.buffering img.active {
    opacity: 0.8;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
    opacity: 1;
}

#player-controls {
    width: 250px;
    height: 100%;
    margin: 0 5px 0 141px;
    float: right;
    overflow: hidden;
}

.control {
    width: 33.333%;
    float: left;
    padding: 12px 0;
}

.button {
    width: 26px;
    height: 26px;
    padding: 25px;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button i {
    display: block;
    color: #d6dee7;
    font-size: 26px;
    text-align: center;
    line-height: 1;
}

.button,
.button i {
    transition: 0.2s ease all;
}

.button:hover {
    background-color: #d6d6de;
}

.button:hover i {
    color: #fff;
}

/* Card flip css */

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
/* .flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    perspective: 1000px; 
  } */

/* This container is needed to position the front and back side */
.flip-card-inner {
    /* position: relative;
    width: 100%;
    height: 100%; */
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
/* .flip-card-front {
    background-color: #bbb;
    color: black;
  } */

/* Style the back side */
.flip-card-back {
    color: white;
    transform: rotateY(180deg);

}

.flip-card-back {
    display: flex;
    height: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000044;
    border-radius: 10px;
}
/* flip theme css */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.themeflip {
    position: fixed;
    bottom: 0px;
    left: 50px;
}
 label {
	 -webkit-perspective: 1000px;
	 perspective: 1000px;
	 -webkit-transform-style: preserve-3d;
	 transform-style: preserve-3d;
	 display: block;
	 width: 50px;
	 height: 50px;
	 -webkit-transform: translate(-50%, -50%);
	 transform: translate(-50%, -50%);
	 cursor: pointer;
}
 .cardnew {
	 position: relative;
	 height: 100%;
	 width: 100%;
	 -webkit-transform-style: preserve-3d;
	 transform-style: preserve-3d;
	 -webkit-transition: all 600ms;
	 transition: all 600ms;
	 z-index: 20;
}
 .cardnew div {
	 position: absolute;
	 height: 100%;
	 width: 100%;
	 background: #fff;
	 text-align: center;
	 line-height: 200px;
	 -webkit-backface-visibility: hidden;
	 backface-visibility: hidden;
	 border-radius: 2px;
     color: black;
}
 .cardnew .back {
	 background: #222;
	 color: #fff;
	 -webkit-transform: rotateX(180deg);
	 transform: rotateX(180deg);
}
 label:hover .cardnew {
	 -webkit-transform: rotateX(20deg);
	 transform: rotateX(20deg);
	 box-shadow: 0 20px 20px rgba(50, 50, 50, 0.2);
}
 input {
	 display: none;
}
 :checked + .cardnew {
	 transform: rotateX(180deg);
	 -webkit-transform: rotateX(180deg);
}
 label:hover :checked + .cardnew {
	 transform: rotateX(160deg);
	 -webkit-transform: rotateX(160deg);
	 box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}
/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* Mobile only */
@media only screen and (max-width: 767px) {
    .head {
        margin-bottom: 20px;
    }
    .trending {
        margin-right: 20px;
    }
    .somebox{
        width: 40%;
    }
    .sm,.sd {
        padding-left: 0px;
    }
    .t1{
        margin-bottom: 0;
    }
    .details {
        width:40%
    }
    .artistsbox,.genrebox{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .g1,.g2,.g3,.g4 {
        margin: 20px;
    }
}
