*{
    margin: 0;
    padding: 0;
    color: #ffffff;
}
body {
    background: rgb(147, 20, 102);
    background: linear-gradient(356deg, rgba(147, 20, 102, 1) 12%, rgba(80, 18, 120, 1) 32%, rgba(44, 11, 111, 1) 40%, rgba(18, 5, 84, 1) 58%, rgba(76, 4, 66, 1) 100%);
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.nav {
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*position: fixed;*/
    /* background-color: rgba(0, 0, 0, 0.477); */
}

.logo {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 60px;
    margin:10px;
}

.logo p{
    font-size: 25px;
}

.nav>.nav-btn {
    display: none;
}

.nav-links {
    /* width: 50%; */
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    display: inline-block;
    padding: 20px 25px;
    font-family: 'Titillium Web', sans-serif;
    box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.505);
    color: white;

    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-links a:hover {
    box-shadow: inset 150px 0 0 0 rgba(255, 255, 255, 0.562);
    color: black;
}

.nav>#nav-check {
    display: none;
}

.container {
    width: 30%;
    padding: 10px 20px;
    /* margin: 50px auto; */
}

.searchbox {
    position: relative;
    
    min-width: 50px;
    width: 0%;
    height: 40px;
    float: right;
    overflow: hidden;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

.searchbox-input {
    /* top: 0;
    right: 0; */
    border: 0;
    outline: 0;
    /* background: #dcddd86d; */
    background: none;
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0px 55px 0px 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.searchbox-input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.361);
}

.searchbox-input:-moz-placeholder {
    color: rgb(255, 255, 255);
}

.searchbox-input::-moz-placeholder {
    color: #ffffff;
}

.searchbox-input:-ms-input-placeholder {
    color: #ffffff;
}

.searchbox-icon,
.searchbox-submit {
    width: 50px;
    height: 40px;
    display: block;
    position: absolute;
    top: 0;
    font-family: verdana;
    font-size: 19px;
    right: 0;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background: none;
    color: white;
    /* background: #dcddd86d; */
}

.searchbox-open {
    width: 100%;
    background: #dcddd86d;
    border-radius: 20px;
}

.byline {
    position: absolute;
    top: 150px;
    left: 30%;
    text-align: center;
    font-size: 18px;
}

.byline a {
    text-decoration: none;
    color: #d74b4b;
}

.wrapper {
    height: 50vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 90%);
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.trending {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
    margin-right: 10%;
    padding-left: 20px;
}

.t1,
.t2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-bottom: 20px;
    /* justify-content: space-evenly; */
    align-items: center;
}


.trimg {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: 1%;

}

.st {
    margin-bottom: 10px;
}

.sd,
.sm {
    padding-left: 50px;
}

.details {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 30%;
}

.somebox {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}

.box {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.conbox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.head {
    font-size: 20px;
    margin-bottom: 40px;
}

.songname {
    font-size: 50px;
}

.midbox {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
}

.midbox p {
    padding-right: 20px;
}

.midbox .singer {
    font-size: 25px;
}

.imgbox{
    text-align: right;
    width: 33%;
}

.imgbox img {
    width: 100%;
}

.buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 40px;
    outline: none;
    align-items: center;
}

.b1,.b2,.b3 {
    cursor: pointer;
}

.b1 {
    height: 50px;
    background: #4FC7C7;
    outline: none;
    border: none;
    padding: 15px 35px;
    border-radius: 30px;
}

.b2 {
    height: 50px;
    background: none;
    padding: 15px 35px;
    border-radius: 30px;
    border: 2px solid #4FC7C7;
}
 
.b3 {
    background: none;
    outline: none;
    border: none;
    width: 30px;
}

.b3 img {
    width: 100%;
}

.artists {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 60%;

}

.a1,
.a2,
.a3,
.a4 {
    width: 100px;
    padding: 40px;
    align-content: center;
}

.a1 img,
.a2 img,
.a3 img,
.a4 img {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.artists p {
    font-family: 'Arimo';
    font-style: normal;
    font-size: 15px;
    text-align: center;
}

.artists img {
    border-radius: 10px;
}

.g1 {
    width: 139px;
    height: 79px;
    background: rgba(250, 146, 196, 0.6);
    border-radius: 10px;
    display: inline-block;

}

.g2 {
    width: 139px;
    height: 79px;
    background: rgba(250, 146, 146, 0.6);
    border-radius: 10px;
    display: inline-block;
}

.g3 {
    width: 139px;
    height: 79px;
    background: rgba(146, 250, 187, 0.6);
    border-radius: 10px;
    display: inline-block;
}

.g4 {
    width: 139px;
    height: 79px;
    background: rgba(146, 218, 250, 0.6);
    border-radius: 10px;
    display: inline-block;
}


.subtitle,
.subtitle2 {
    font-style: normal;
    font-size: 24px;
    font-family: 'Arimo';
}

.genres {
    display: inline-block;
    padding-left: 20px;
}

.subdivtitle {
    font-family: 'Oldenburg';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-left: 10px;
    color: #FFFFFF;
}

.subdivimg1 {
    position: absolute;
    width: 214px;
    height: 234px;
    left: 130px;
    top: 345px;
}

.subdivimg2 {
    position: absolute;
    width: 214px;
    height: 234px;
    left: 420px;
    top: 420px;
}

.subdivimg3 {
    position: absolute;
    width: 214px;
    height: 234px;
    left: 140px;
    top: 350px;
}

.subdivimg4 {
    position: absolute;
    width: 214px;
    height: 234px;
    left: 490px;
    top: 420px;
}


/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
    .container,
        .searchbox {
            width: 0;
            display: none;
            visibility: hidden;
        }
    
        .nav {
            background-color: rgba(0, 0, 0, 0.477);
        }
    
        .nav>.nav-btn {
            display: inline;
            float: right;
        }
    
        .nav-btn>label {
            display: inline-block;
            padding: 15px;
        }
    
        .nav>.nav-btn>label:hover,
        .nav #nav-check:checked~.nav-btn>label {
            background-color: rgba(0, 0, 0, 0.3);
        }
    
        .nav>.nav-btn>label>span {
            display: block;
            width: 30px;
            height: 10px;
            border-top: 2px solid #eee;
        }
    
        .nav>.nav-links {
            position: absolute;
            z-index: 1;
            display: block;
            width: 100%;
            background-color: rgba(37, 37, 37, 0.845);
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 75px;
            left: 0px;
        }
    
        .nav-links a {
            display: block;
            padding: 25px;
        }
    
        .nav>#nav-check:not(:checked)~.nav-links {
            height: 0px;
        }
    
        .nav>#nav-check:checked~.nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    
        .wrapper {
            flex-direction: column-reverse;
            height: max-content;
            align-items: flex-start;
    
        }
    
        .trending,
        .box {
            width: 100%;
            padding: 0 20px;
        }
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {}

/* Mobile only */
@media only screen and (max-width: 767px) {}
